@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-regular.ttf);
}
*{
    font-family: 'Roboto';
}
.newOne{
	margin-top:1.5rem;
	margin-left:50px;
	float:left;
	margin-right:50px;

}
.itsNew
{
 	width: 100%;
  	flex-direction: column;
    flex-direction: row;

}
.newOne>p{
	margin-top:4px;
	color:white;
    font-size: 12px;

}
.bottomOne{
	height:70px;
 	padding-left: 4rem;
  	padding-right: 4rem;
 	padding-top: 1.5rem;
  	padding-bottom: 1.5rem;
  	width: 100%;
  	justify-content: space-between;
  	border-top: 1px solid grey;
  	align-items: center;
  	font-size: 0.875rem;
  	line-height: 1.25rem;
  	color: white;
 	--tw-bg-opacity: 1;
  	background-color: rgba(23, 35, 55, var(--tw-bg-opacity));
}
.middle1{
  	float:right;
  	margin-top:20px;
	color:white;
    font-size: 12px;

}
.newImg{
	vertical-align:middle;

}
.middle{
	margin-top: 1.5rem;
  	margin-bottom: 1.5rem;
	margin-left: 1.25rem;
  	margin-right: 1.25rem;
  	gap: 0.5rem;
  	justify-content: space-between;

}
.bottomOne1{
	margin-left:100px;
	float:left;
}

body {
  	margin: 0;

}
.font-bold{
  	font-weight: 700;
    font-size: 18px;
    color:grey;
    padding-left:10px;
	margin-top:20px;

}
.text-xxs{
  	font-size: 11px;
  	line-height: 1rem;
  	color:grey;
    padding-left:10px;
}
.hello{
	padding:50px;
}


small {
  font-size: 80%;
}

summary {
  display: list-item;
}
.firstOne{
	height:350px;
	width:100%;
	box-shadow: 0 8px 12px rgba(0,0,0,.2);
}
.secondOne{
	float:left;
	width:25%;

}
.secondOneFirst{
	height:350px;
	float:left;
	width:17%;

}
.secondOneLast{
	height:350px;
	float:right;

}
.secondOne1{
	width:65%;
	float:left;
	overflow:hidden;
}
.card-val{
	margin-top:90px;
	text-align:center;
	font-size:28px;
}
.card-valLink{
	margin-top:20px;
	background-color: #4475EF;
	color:white;
	width:100px;
	text-align:center;
	margin-left:70px;
	padding:10px;
	border-radius:5px;

}
.forColor{
	background-color:orange;
	height:105px;
	margin-top:10px;


}
.images{
	padding:30px;
	height:230px;
}
.card-title{
	padding:0;
	margin:0;
	text-align:center;
  	font-weight: bold;
	font-size:15px;


}
.card-link{
	margin-top:7px;
	text-align:center;
	font-size:18px;
	color:green;

}
.textBottom{
	color:grey;
	margin-top:7px;
	text-align:center;
	font-size:12px;

}
.one{
	float:left;
	width:31%;
	margin-left:10px;

}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: inherit;
  line-height: inherit;
}
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
.container{
  width: 100%;
}

.bg-primary-blue{
 	 --tw-bg-opacity: 1;
  	background-color: rgba(40, 116, 240, var(--tw-bg-opacity));
  	position:fixed;
  	width:100%;
}
.comOne{
	width: 75%;
 	padding-left: 1rem;
  	padding-right: 1rem;
  	margin: auto;
  	justify-content: space-between;
  	align-items: center;
	color:white;

}
.inputVal{
	float:left;
	width:50%;
	margin-left:20px;
	background-color:white;
	height:40px;
	margin:10px;
	border-radius:5px;


}
header{
	margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #a43131;
    z-index: 99;

}
.newInp{
	width:90%;
	height:40px;

}
.inputVal1{
	float:left;
	margin-top:10px;
}
.newOne1{
	vertical-align: middle;
	padding-top:20px;
}
.newOne2{
	margin-left:100px;
}
.newOne2>img{
	vertical-align: middle;
}
.newOne3{
	margin-left:40px;
}
.newOne3>img{
	vertical-align: middle;
}
.newOne4{
	margin-left:40px;
}
.newOne4>img{
	vertical-align: middle;
}
.newOnesImg{
	height:50px;
	text-align:center;
}
.newoNess{
	margin:10px;
	height:170px;
	box-shadow: 0 8px 12px rgba(0,0,0,.2);
	padding-left:20px;
	text-align: center;
}
.img1{
	height:60px;
	margin-top:65px;
	padding:0;
}
.p1{
	padding:0;
	margin:0;
	text-align:middle;

}
.onees{
	float:left;
	width:10%;
	margin: 5px;;
}
.width{
	width:100%;
}
.container-fluid{
	width:100%;
	margin-top:20px;;
	padding:0;
}

footer{
	height:300px;
  	--tw-bg-opacity: 1;
  	background-color: rgba(23, 35, 55, var(--tw-bg-opacity));

}
.text-primary-grey{
  	--tw-text-opacity: 1;
  	color: rgba(135, 135, 135, var(--tw-text-opacity));
    margin-bottom: 0.5rem;
    font-size: 12px;
}
.hello{
	padding:20px;

}
.container-fluid{
	margin-padding:20px;

}
